version: '3.4'

services:
    nginx:
        container_name: nginx
        image: nginx:v01
        build:
            ./requirements/nginx
        volumes:
            - type: volume
              source: data1
              target: /code
        ports:
            - "443:443"
        restart:
            unless-stopped
        depends_on:
            - wordpress
        networks:
            - network

    wordpress:
        container_name: wordpress
        image: wordpress:v01
        build:
            ./requirements/wordpress
        depends_on:
            - mariadb
        environment:
            - MYSQL_NAME=${MYSQL_NAME}
            - MYSQL_USER=${MYSQL_USER}
            - MYSQL_PASSWORD=${MYSQL_PASSWORD}
            - ADMIN_USER=${ADMIN_USER}
            - ADMIN_PASSWORD=${ADMIN_PASSWORD}
            - ADMIN_MAIL=${ADMIN_MAIL}
            - USER_NAME=${USER_NAME}
            - USER_PASSWORD=${USER_PASSWORD}
            - USER_MAIL=${USER_MAIL}
        volumes:
            - type: volume
              source: data1
              target: /code
        networks:
            - network
        restart:
            unless-stopped

    mariadb:
        container_name: mariadb
        image: mariadb:v01
        build:
            context: ./requirements/mariadb
            args:
                - MYSQL_CLIENT=${MYSQL_CLIENT}
                - MYSQL_NAME=${MYSQL_NAME}
                - MYSQL_USER=${MYSQL_USER}
                - MYSQL_PASSWORD=${MYSQL_PASSWORD}
                - DB_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
        volumes:
            - type: volume
              source: data2
              target: /var
        restart:
            unless-stopped
        networks:
            - network


networks:
    network:

volumes:
    data1:
        driver_opts:
            type: "none"
            o: "bind"
            device: "${PWD}/srcs/requirements/code"
    data2:
        driver_opts:
            type: "none"
            o: "bind"
            device: "${PWD}/srcs/requirements/data"
